body {
    background-color: #181818;
}
.header-p {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}
.header {
    display: flex;
    height: 60px;
    justify-content: center;
}
.header-center {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 100%;
}
.div-logo {
    width: 30%;
}
.logo{
    height: 60px;
}
.div-nav {
    display: flex;
    width: 45%;
}
.header-item {
    width: 25%;
    margin-top: 20px;
}
.div-login {
    width: 25%;
    align-content: center;
}
.btn-login {
    height: 40px;
    width: 100px;
    margin-top: 10px;
    margin-left: 30%;
    border-width: 1px;
    border-color:   #fff;
    background-color: hsl(0, 0%, 9%);
}

/* section 1 */
.section-1 {
    height: 300px;
    margin-top: 80px;
    margin: auto;
}
.sec1-h2 {
    max-width: 500px;
    text-align: center;
    color: #fff;
    font-size: 55px ;
}
.sec1-p {
    max-width: 350px;
    text-align: center;
    color: #fff;
    font-size: 12px ;
}
.sec1-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 30px;
}
.btn-try {
    width: 178px;
    height: 55px;
    margin: 10px;
    border-radius: 3px;
    border-color:   #4452FE;
    background-color: #4452FE;
}
.btn-learn {
    width: 178px;
    height: 55px;
    margin: 10px;
    border-width: 1px;
    border-radius: 3px;
    border-color:   #fff;
    background-color: #181818;
}
.sec1-img {
    margin-bottom: 100px;
    height: 580px;
}
.sec1-imgbgr {
    width: 100%;
    height: 100%;
}

/* section 2 */
.section-2 {
    margin-top: 700px;
}
.sec2-div1 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.sec2-div2 {
    height: 600px;
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 80px;
}
.sec2-div2-img {
    width: 65%;
}
.sec2-div2-img1 {
    height: 276px;
    margin-left: 40%;
    margin-top: -30%;
}
.sec2-div2-icon1 {
    height: 50px;
    width: 30px;
}
.sec2-div2-p{
    max-width: 250px;
    text-align: left;
    color: #fff;
    font-size: 12px ;
}
.sec2-div2-h2 {
    max-width: 200px;
    text-align: left;
    margin-left: 10px;
    color: #fff;
    font-size: 25px ;
}
.sec2-div2-item {
    display: flex;
    margin-top: 25px;
}
.sec2-div2-3item {
    height: 35%;
}
.sec2-div2-info{
    width: 35%;margin-left: 20px;
}

/* section 3 */

.section-3{
    margin-top: 150px;
}
.sec3-h2{
    font-weight: 400;
    font-size: 35px;
}
.sec3-div{
    height: 500px;
    display: flex;
    width: 60%;
    margin-left: 20%;
}
.sec3-item{
    background-color: #fff;
    width: 50%;
    border-radius: 10px;
    margin: 15px;
    height: 100%;
}
.sec3-center{
    margin-top: 50px;
}
.sec3-div-h3{
    height: 40px;
    max-width: 250px;
    text-align: center;
    color: #000;
    font-size: 20px ;
}
.sec3-div-p{
    max-width: 190px;
    text-align: center;
    color: #000;
    font-size: 12px ;
}
.sec3-btn-try{
    width: 135px;
    height: 45px;
    border-radius: 3px;
    margin: 20px;
    border-color:   #4452FE;
    background-color: #4452FE;
}
.sec3-btn-sin{
    width: 135px;
    height: 45px;
    border-radius: 3px;
    margin: 50px;
    border-color:   #4452FE;
    background-color: #4452FE;
}
.sec3-img1{
    width: 80%;
}
.sec3-img2{
    width: 90%;
}
/* section-4 */
.section-4{
    margin-top: 150px;
}
.sec4-div{
    margin: auto;
}
.sec4-img1{
    height: 285px;
    width: 225px;
    border-radius: 20px;
    padding: 10px;
}
.sec4-img2{
    height: 285px;
    width: 395px;
    border-radius: 20px;
    padding: 10px;
}
.sec4-div1{
    display: flex;
    margin-left: 15.5%;
}
.sec4-div2{
    display: flex;
    margin-left: 11%;
}
.sec4-btn{
    width: 178px;
    height: 55px;
    border-width: 1px;
    border-radius: 3px;
    border-color:   #fff;
    background-color: #181818;
}

/* section-5 */
.section-5{
    margin-top: 150px;
}
.sec5-div-icon{
    flex: 1;
    display: flex;
    width: 60%;
    margin-left: 20%;
}
.sec5-icon{
    padding: 30px;
    flex: 1;    
}
.sec5-icon{
    padding: 30px;
    padding-left: 20px;
    flex: 1;    
}

/* section-6 */
.section-6{
    margin-top: 150px;
    height: 600px;
}
.sec6-div-item1{
    width: 60%;
    margin-left: 20%;
    display: flex;
}
.sec6-div2-icon1{
    height: 50px;
    width: 50px;
}
.div-item{
    padding-left: 40px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px;
    height: 250px;
    background-color: #181818;
}
.sec6-div2-h2{
    max-width: 180px;
    text-align: left;
    margin-left: 10px;
    color: #fff;
    font-size: 22px ;
}

/* section-7 */
.section-7{
    margin-top: 150px;
    height: w50px;
}
.sec7-div{
    width: 100%;
    height: 100%;
    display: flex;
}
.sec7-item{
    width: 60%;
    background-color: #343434;
    border-radius: 20px;
    display: flex;
}
.sec7-img{
    width: 95%;
    height: 95%;
    margin-top: 3%;
    margin-left: 5%;
    border-bottom-right-radius: 20px;
}
.sec7-text{
    margin-top: 70px;
    margin-left: 60px;
}
.sec7-h2{
    font-size: 28px;
    max-width: 240px;
    font-weight: 300;
}
.sec7-btn{
    height: 32px;
    width: 132px;
}
.sec7-nav{
    width: 50%;
}

/* footer */
.footer{
    margin-top: 150px;
}
.footer-div{
    display: flex;
    margin-left: 15%;
    width: 45%;
    margin-bottom: 50px;
}
.fff{
    color: #fff;
}

/* media */
@media (max-width: 675px) {
    /* header */
    .div-logo {
        width: 50%;
    }
    .div-login {
        width: 50%;
        align-content: center;
    }
    .div-nav {
        display: none;
    }
    /* section-2 */
    .sec2-div2{
        display: block;
        margin-left: 0;
    }
    .sec2-div2-info{
        display: none;
    }
    /* section-3 */
    .section-3{
        margin-top: 300px;
    }
    .sec3-div{
        display: block;
    }
    .sec3-item{
        width: 80%;
    }
    .sec3-div{
        margin-left: 25%;
    }
    /* section-4 */
    .sec4-div1{
        display: block;
        margin-left: 25%;
    }
    .sec4-div2{
        display: none;
    }
    .section-4{
        margin-top: 600px;
    }
    .sec4-img1{
        width: 329px;
    }
    /* section-5 */

    /* section-6 */
    .sec6-div-item1{
        width: 100%;
        margin-left: 25%;
        display: block;
    }
    /* section-7 */
    .section-7{
        margin-top: 600px;
    }
    .sec7-item{
        display: block;
    }
    .sec7-nav{
        width: 100%;
    }
}